---
---
<div class="bg-transparent text-tertiary fixed bottom-8 right-8 z-50 flex flex-col gap-4 shadow-lg active:scale-90 duration-150 group">
  <a 
    href="https://wa.me/51925295238" 
    target="_blank"
    rel="noopener noreferrer"
    aria-label="WhatsApp" 
    class="bg-tertiary-container text-on-tertiary-container rounded-full p-4 hover:scale-110 transition-transform flex items-center justify-center shadow-xl"
  >
    <span class="material-symbols-outlined text-2xl" data-icon="chat">chat</span>
  </a>
</div>
